[submodule "external/json11"]
	path = external/json11
	url = https://github.com/dropbox/json11.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
